*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: black;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
hr{
    height: 3px;
    background-color: #FF9800;
    border: none;
}
/* Header */
.navigation-container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: black;
  border-bottom:3px solid #FF9800;
  margin-bottom: 20px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 45px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: #FF9800;
}

nav a::before {
  margin-top: 30px;
  content: '';
  display: block;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/* End of Header */
/* Filter */
.filter{
  padding-left: 20px;
  color:white;
  margin-left:50px;
  
}
.filter-select{
  color:white;
  border: none;
}
/* End of filter */
/* Products */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #FF9800;
}

div.gallery img {
  width: 100%;
  height: 300px;
  max-width: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
  color:white;

}

.responsive {
  padding: 0 10px;
  float: left;
  height: auto;
  width: 24.99999%;
  margin-top:20px;
  margin-bottom: 5px;
  
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.product-list {
  margin-left: 50px;
  margin-right: 50px;
}
/* End of Products */
