*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: black;
    
}
html{
  scroll-behavior: smooth;
}
hr{
    height: 3px;
    background-color: #FF9800;
    border: none;
}
/* Header */
.header-container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: black;
  border-bottom:3px solid #FF9800;
  margin-bottom: 20px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 45px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: #FF9800;
}

nav a::before {
  margin-top: 30px;
  content: '';
  display: block;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/* End of Header */

/* New release */
.newrelease{
    margin-right: 200px;
}
.newrelease::after{
    content: "";
    clear: both;
    display: table;
}
.category >img{
    float:right;
    padding:80px 0;

    /* border:1px solid white; */
}
.release{
    color: white;
    padding:250px 0;
    margin-left:200px;
    
    /* border:1px solid white; */
}
.release >h1,h3,h5{
    margin-bottom:20px;
}
.release > h5 >a{
    text-decoration:none;
    color: white;
    font-size:1.5em;
}
.release >h1{
    font-size:4.5em;
}
.release >h3{
    font-size:2em;
}
.release > h5 >a:hover{
    transition: all ease-in-out 250ms;
    color: #FF9800;
}
/* End of New Release */
/* CARDS */
.category-section {
  background-color: #000;
}
.category-section table {
  border: 1px solid #000;
  margin: 0.5% auto;
}

.category-section td {
  padding: 25px 80px;
  text-align: center;
  border: 1px solid #000;
}
.category-card {
  height: auto;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.3);
  transition: 0.5s;
}
.category-title {
  text-transform: uppercase;
  letter-spacing: 1.2mm;
  padding: 15px 16px;
  font-size: 3em;
  /*background-color: red;*/
}

.cat-kb-hs {
  padding-top: 50px;
}
.category-card:hover {
  box-shadow: 0 8px 16px rgba(255,255,255,0.7);
}
.category-card:hover .category-title {
  transition: all ease-in-out 450ms;
  color: #FF9800;
}
.card-mouse {
  height: 439px;
  width: 550px;
}
.card-mouse:hover {
  padding-top: 20px;
  height: 450px;
  width: 580px;
  transition: 0.5s;
}
.card-keyboard {
  height: 424px;
  width: 600px;
}
.card-keyboard:hover {
  padding-top: 20px;
  padding-top: 20px;
  height: 440px;
  width: 630px;
  transition: 0.5s;
}
.card-mousepad {
  height: 589px;
  width: 550px;
}
.card-mousepad:hover{
  padding-top: 20px;
  height: 600px;
  width: 580px;
  transition: 0.5s;
}
.card-headset {
  height: 574px;
  width: 600px;
}
.card-headset:hover {
  padding-top: 20px;
  height: 585px;
  width: 630px;
  transition: 0.5s;
}

/* End of Cards */
/* About */
.aboutus >h1{

  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}
.aboutcomphub{
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 120px;
}
.aboutustext >h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
  line-height: 2em;
  margin-right: 150px;
  margin-left: 150px;  
  margin-bottom: 50px;
}

/* End of About */
/* Contact */
.row {
  display: flex; /* equal height of the children */
  color: white;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 100px;
  
}

.col {
  flex: 2; /* additionally, equal width */
  padding: 1em;
  
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
.btn_submit{
  color: white;
  padding: 1em;
  background-color: #FF9800;
  border-radius: 1em;
  width: 100px;
  
}
.btn_clear{
  color: white;
  padding: 1em;
  background-color: #FF9800;
  border-radius: 1em;
  width: 100px;
}
.btn_clear:hover{
  background-color: #c27c14;
}
.btn_submit:hover{
  background-color: #c27c14;
}
/* End of Contact */
/* pre-footer */

#pre-footer {
  padding: 1rem;
  background-color:black;
  color: white;
  margin: 0.6rem;
  margin-left: 15rem;
}

#pre-footer > div {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
#pre-footer > div > * {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}   
#pre-footer > div > h3{
  color:#FF9800 ;
}
/* footer */
footer {
  padding: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;

}
footer span{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}